body{

    font-family: 'Poppins', sans-serif;
    margin: 0 px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
    
}
.blue-color{
    color: blue;
}
.teal{
    color:teal;
}
h3{
    font-size: 35px;
}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
    }
    

.half-width{
    width: 45%;
    padding-left: 80px;
    
}
.half-width img{
    width: 200%;
    
}
.link-button{
    color: black;
    background-color:green;
    background-image: linear-gradient(green lime);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50px;
}
.Home-page{
    background-image: url(img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150 px;
    }
    

.second-page{
    width: 60%;
    padding-left: 80px;
    
}
.second-page img{
    width: 35%;
    
}
.Dream-Land{
    background-image: url(back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.Experement 
{

    background-image: url(back6.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.shadow{
    width: 60%;
    margin-right: 10%;
    margin-left:  10%;
    margin-right: 10%;
    margin-left:  10%;
    padding-left: 30px;
    padding-right: 10px;
    
    border-radius: 70px;
}
